<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.voxhub.accessibility.voicetouch" 
    xmlns:tools="http://schemas.android.com/tools" > 
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        android:allowBackup="true"
        tools:replace="android:icon"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.voxhub.accessibility.voicetouch.SimpleActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.voxhub.accessibility.voicetouch.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="io.voxhub.accessibility.voicetouch.SimpleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.voxhub.accessibility.voicetouch.SimpleActivity"/>
        </activity>
        <activity
            android:name="io.voxhub.accessibility.voicetouch.AboutActivity"
            android:label="@string/txt_btn_about" >
        </activity>
        <activity
            android:name="io.voxhub.accessibility.voicetouch.HelpActivity"
            android:label="@string/txt_btn_help" >
        </activity>



        <activity android:name="io.voxhub.accessibility.voicetouch.gesture.GestureSettingActivity"
            android:parentActivityName="io.voxhub.accessibility.voicetouch.gesture.GestureListActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.voxhub.accessibility.voicetouch.gesture.GestureListActivity" />
        </activity>
        
        <activity android:name="io.voxhub.accessibility.voicetouch.gesture.GestureListActivity"
            android:parentActivityName="io.voxhub.accessibility.voicetouch.SimpleActivity">

        </activity>

        <activity android:name="io.voxhub.accessibility.voicetouch.gesture.AddGestureActivity"
            android:theme="@style/GestureDisplayTheme">
        </activity>
    </application>

</manifest>
