<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.voxhub.accessibility.voicetouch">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".command.CommandListActivity"
            android:parentActivityName=".SimpleActivity">

        </activity>

        <activity
            android:name=".command.CommandSettingActivity"
            android:parentActivityName=".command.CommandListActivity">

        </activity>
<!--        android:launchMode="singleTop"-->
        <activity
            android:name=".SimpleActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".SimpleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.voxhub.accessibility.voicetouch.SimpleActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/txt_btn_about"></activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/txt_btn_help"></activity>
        <activity
            android:name=".gesture.GestureSettingActivity"
            android:parentActivityName=".gesture.GestureListActivity">
        </activity>
        <activity
            android:name=".gesture.GestureListActivity"
            android:parentActivityName=".SimpleActivity">
        </activity>
        <activity
            android:name=".gesture.AddGestureActivity"
            android:theme="@style/GestureDisplayTheme"></activity>
    </application>

</manifest>